Source: git-extensions
Section: devel
Priority: optional
Maintainer: Daniel Schierbeck <daniel.schierbeck@gmail.com>
Build-Depends: cdbs

Package: git-ignore
Architecture: any
Depends: git-core
Description: Quickly add file patterns to the .gitignore list

Package: git-export
Architecture: any
Depends: git-core
Description: Quickly export a Git repository
