Source: git-extensions
Section: devel
Priority: optional
Maintainer: Daniel Schierbeck <daniel.schierbeck@gmail.com>
Build-Depends: cdbs

Package: git-extensions
Architecture: any
Depends: git-core
Description: Handy Git commands. Makes it easier to work with
 your repositories.
 .
  * git-ignore: Add file patterns to a .gitignore file
  * git-export: Export a repository to a directory
  * git-pending: List commits waiting to be pushed
